<%- include("footer") -%>
<%- include("header") -%>


<link rel="stylesheet" href="style.css">
<body>
      <div id="container">
        <h1> <%= listtitle %></h1>

</div>

<% items.forEach(function(item) {  %>
  <li><%= item.item %></li>
<% }) %>


  <!-- post request made to path /  -->
<form action="/" method="POST">
  <input type="text" name="input">
  <button type="submit" name="button">Add</button>
</form>





</div>
</body>
</html>