<%- include("footer") -%>
<%- include("header") -%>


<link rel="stylesheet" href="style.css">
<body>
      <div id="container">
        <h1> <%= listtitle %></h1>

</div>
<div id="items">


  <!-- post request made to path /  -->
<form action="/work" method="POST">
  <input type="text" name="winput">
  <button type="submit" name="button" value="<% worklist %>">Add</button>
</form>

<% for (var i=0; i < worklist.length; i++) { %>
  <li> <%= worklist[i] %> </li>
<% } %>





</div>
</body>
